.header {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: calc(100vw - 202px);
    padding-left: 101px;
    padding-right: 101px;
    background-color: white;
    z-index: 100;
}

.navbar, .home-button, .cart-button {
    flex: 1;
}

.logo-image {
    height: 41px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cart-button {
    opacity: 0.5;
}

.cart-icon {
    height: 20px;
    margin-left: auto;
    display: block;
}