.product-card {
    padding: 5.5%;
    transition: box-shadow 0.2s;
    cursor: pointer;
    position: relative;
    text-decoration: none;
    color: black;
}

.product-link {
    display: block;
    height: 100%;
}

.product-thumbnail {
    width: 100%;
    aspect-ratio: 354 / 330;
    object-fit: cover;
}

.out-of-stock-thumbnail {
    opacity: 0.3;
}

.out-of-stock-price {
    color: #8D8F9A;
}

.out-of-stock-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    text-align: center;
    width: 100%;
    color: #8D8F9A;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product-thumbnail-container {
    position: relative;
    margin-bottom: 8.3%;
}

.quick-shop-button {
    position: absolute;
    right: 13px;
    bottom: -26px;
    visibility: hidden;
    border-radius: 50%;
}

.quick-shop-icon {
    width: 52px;
    height: 52px;
    border-radius: 50%;
}

.product-card:hover {
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.1);
}

.product-card:hover .quick-shop-button {
    visibility: visible;
}

.product-name {
    font-size: 18px;
    font-weight: 300;   
}

.product-price {
    font-size: 18px;
    font-weight: 400;
}